/* Menambahkan efek scroll smooth */
html {
  scroll-behavior: smooth;
}

/* banner kesehatan */
.announcement-banner {
  background: linear-gradient(135deg, #4338ca, #3730a3);
  color: white;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.announcement-content {
  display: flex;
  align-items: center;
}

.announcement-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  border-radius: 50%;
  flex-shrink: 0; 
}

/* Tombol jelajahi */ 
.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



.pembuka {
  backdrop-filter: blur(25px) saturate(166%);
  -webkit-backdrop-filter: blur(25px) saturate(166%);
  background-color: rgba(255, 255, 255, 0.53);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}


/* From Uiverse.io by suleymanlaarabidev */ 
.pengertian {
  width: 190px;
  height: 254px;
  background: rgb(103, 225, 255);
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  font-size: 30px;
  font-weight: 900;
}

.pengertian {
  position: relative;
  transition: transform 0.4s, box-shadow 0.4s;
}

.pengertian:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
  background: rgb(103, 151, 255);
}

.konten1,
.konten2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: opacity 0.4s, transform 0.4s;
}

.konten1 {
  opacity: 1;
}

.pengertian:hover .konten1 {
  opacity: 0;
  transform: scale(0.8);
}

.konten2 {
  opacity: 0;
  transform: scale(0.8);
  font-size: 1.8rem;
  color: white;
}

.pengertian:hover .konten2 {
  opacity: 1;
  transform: scale(1);
}










/* border inti */
#inti {
  border: 2px solid #D1D5DB;
  border-radius: 10px;
  background-color: #C4E1F6;
  max-height: 25 dvh;
  max-width: 65%;
}

/* tombol pilih vaksin*/ 
.tombolP {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .tombolP::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #6190ed;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .tombolP:hover {
  color: #e8e8e8;
 }
 
 .tombolP:hover::before {
  width: 100%;
 }
/* border left statistik */
 .borderS {
  border-left: 2px solid #D1D5DB;
 }
 